<% flash.each do |key, value| %>
<div class="alert alert-danger" role="alert"><%= value %></div>

<% @shipment.errors.full_messages.each do |msg| %>
<div class="alert alert-danger" role="alert"><%= msg %></div>
<% end %>
<% end %>

<h1>Create A Shipment</h1>

<div class='row'>

<div class='col-xs-12'>

<%= form_for @shipment, html: {class: "form-horizontal", role: "form"} do |f| %>

<div class="form-group">
  <div class="control-label col-sm-2">
     <%= f.label :name %></br>
  </div>

  <div class="col-sm-4">
    <%= f.text_field :name, class: "form-control", placeholder: "Title of article", autofocus: true %>
  </div>
</div>

<p>
  <%= f.label :company %></br>
  <%= f.text_field :company %>
</p>

<p>
  <%= f.label :address %></br>
  <%= f.text_field :address %>
</p>

<p>
  <%= f.label :city %></br>
  <%= f.text_field :city %>
</p>

<p>
  <%= f.label :state %></br>
  <%= f.text_field :state %>
</p>

<p>
  <%= f.label :zip %></br>
  <%= f.text_field :zip %>
</p>

<%= f.submit %>

<% end %>

</div>

</div>
