<h1>Shipment Order Details</h1>

<p>
  Name: <%= @shipment.name %>
</p>

<p>
  Company: <%= @shipment.company %>
</p>

<p>
  Address: <%= @shipment.address %>
</p>

<p>
  City: <%= @shipment.city %>
</p>

<p>
  State: <%= @shipment.state %>
</p>

<p>
  Zip: <%= @shipment.zip %>
</p>
