<!DOCTYPE html>
<html>
  <head>
    <title>EasyPost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
  <div class="container">
    <% flash.success do |key, value| %>
      <div class="alert alert-success" role="alert"><%= value %></div>
    <% end %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  </body>
</html>
